@charset "UTF-8";

.together-container {
	margin: 0 auto;
}

.container-header {
	font-family: "Noto Serif KR", serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.together_p1 {
	font-size: 3rem;
	color: #616161;
}

.together_p2 {
	font-size: 2rem;
}

.together-write-button {
	display: flex;
}

.together-write-button input {
	font-family: "Noto Serif KR", serif;
	font-size: 1rem;
	padding: 8px 16px;
	border: 1px solid #BE917E;
	border-radius: 5px;
	background-color: white;
	color: #BE917E;
	margin-right: 50px;
	cursor: pointer;
	margin-left: auto;
}

.together-container>table {
	border-spacing: 10px;
}

.together-nodata {
	width: 100%;
	height: 400px;
	border: 1px solid #BE917E;
	border-radius: 5px;
	text-align: center;
	line-height: 400px;
	font-size: 1.25rem;
}

.together-cell {
	width: 1100px;
	height: 250px;
	border: 1px solid #BE917E;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	padding: 5px;
	display: flex;
	margin: 15px auto;
	align-items: center;
}

.together-cell:hover {
	background-color: #EAEAEA;
}

.together-cell div {
	float: left;
}

.together-thumbnail {
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin: 25px;
	border-radius: 20px;
}

.together-thumbnail img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.together-desciption {
	width: 800px;
}

.together-title {
	font-size: 2.0rem;
	margin-bottom: 10px;
	font-weight: bold;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.together-nickname {
	font-size: 1.7rem;
	margin-bottom: 10px;
}

.together-join-info {
	color: #878787;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
}

[class^="join-state-"] {
	border: none;
	color: white;
	border-radius: 10px;
	text-align: center;
	font-size: 1rem;
	padding: 4px 16px;
	margin-left: 25px;
}

.join-state-ing {
	background-color: blue;
}

.join-state-finish {
	background-color: red;
}

.join-state-done {
	background-color: gray;
}

.location-icon,
.join-icon {
	width: 30px;
	height: 30px;
	overflow: hidden;
	margin-right: 10px;
}

.location-icon img,
.join-icon img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.together-join-people {
	width: 100%;
	height: 80px;	
	display: flex;
	align-items: center;
	color: #878787;
}

.join-nodata {
	font-size: 1.3rem;
}

.together-join-people ul li {
	list-style-type: none;
	float: left;
}

.join-profile {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
}

.join-profile img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}